.roll-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
        font-size: 18px;
        font-weight: 600;
        margin: 0 8px;
        @include text-gold;
        white-space: nowrap;
    }
    .initiative-select {
        width: 129px;
    }
}


.perception-sidebar {
    .perception-rank {
        border-radius: 2px;
        border: 1px solid rgba(black, 0.5);
        cursor: pointer;
        padding: 4px;
        background-color: #{$rank-untrained};
        box-shadow: inset 0 0 0 1px rgba(white, 0.1);

        h4 {
            color: white;
            font-weight: 500;
            padding-top: 1px;
        }
    }

    .perception-rank[value='1'] { background: #{$rank-trained}; }
    .perception-rank[value='2'] { background: #{$rank-expert}; }
    .perception-rank[value='3'] { background: #{$rank-master}; }
    .perception-rank[value='4'] { background: #{$rank-legendary}; }

    h3 {
        flex-grow: 1;
    }
}
